.container {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
}

.form {
    border: 1px solid #000;
    padding: 15px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form label {
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 15px;
}

.form input {
    width: 220px;
    height: 25px;
    outline: none;
    border: 1px solid #4d4d4d;
    font-size: 16px;
    margin-bottom: 15px;
}

.link {
    padding: 10px;
    margin-bottom: 15px;
}

.form h4 {
    font-size: 18px;
    margin-top: 0;
    text-transform: uppercase;
}

.link a {
    padding: 10px;
    background: #429dd3;
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.form button {
    border: 0;
    border-radius: 8px;
    outline: none;
    padding: 8px 12px;
    color: #fff;
    background: #299c5d;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}